<h2>Text file:</h2>

<p><%= @logfile %></p>

<form action="/" method="POST">
	Your name:                             <br />
	<input type="text" name="aaa" /> <br />
	Your password:                            <br />
	<input type="password" name="bbb" /> <br />

	<input type="submit" />
</form>

